@model List<JobApplication>
<partial name="_Notification" />
<h1>Here is a list of Job Applied</h1>
<table class="table table-bordered">
	<thead>
		<tr>
			<td>Job Title</td>
			<td>Job Description</td>
			<td>Day Apply</td>
		</tr>
	</thead>
	<tbody>
		@foreach (var Object in Model)
		{
			<tr>
				<td>@Object.Job.Title</td>
				<td>@Object.Job.Description</td>
				<td>@Object.DayApply</td>
			</tr>
		}
	</tbody>
	<a asp-controller="ApplicationStatus" asp-action="Index" class="btn btn-primary">Back</a>
</table>